<div class="verified-app-dialog">
  <img class="logo" src="/assets/images/logo/logo_600.png" alt="logo" />
  <p>
    We are currently enhancing this advanced feature. Coaches will contact you
    back at your gmail inbox.

    <br />
    <br />

    To connect your email, tap ‘advanced’ or ‘continue’ after sign in to
    proceed.
  </p>

  <a href="https://nxt1sports.com/faqs" target="_blank"
    >Click here to learn more.</a
  >

  <button type="button" (click)="dialogRef.close()">Continue</button>
</div>
