<div class="container">
  <img class="corner" src="assets/images/start/bolt.png" alt="" />
  <img class="logo" src="assets/images/logo/logo_600.png" alt="" />

  <div class="video-bg">
    <video autoplay muted loop playsinline id="video-background">
      <source
        src="https://firebasestorage.googleapis.com/v0/b/nxt-1-staging.appspot.com/o/StartScreenMedia%2FStart-screen-video.mp4?alt=media"
        type="video/mp4"
      />
    </video>
  </div>

  <div class="midle">
    <div class="title">Login Or Sign Up</div>
    <div class="button" (click)="onLogin()">Start Here</div>
  </div>
</div>
