.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgb(0, 0, 0) 0%,
    rgb(32, 32, 32) 20%,
    rgb(40, 40, 40) 60%,
    rgb(32, 32, 32) 90%,
    rgb(0, 0, 0) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 50%;
    max-width: 200px;
  }
  p {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }
}
