<div
  class="successful"
  [ngClass]="{
    show: showSuccess && notiContent === 'Added Under My Profiles',
    saved: showSuccess && notiContent !== 'Added Under My Profiles'
  }"
>
  {{ notiContent }} <img src="./assets/images/icons/check-bg.svg" />
</div>
<div class="container">
  <div class="main">
    <app-sidenav
      class="sidenav desktop"
      [activePage]="'profile'"
      (home)="onHome($event)"
      (profile)="onProfile($event)"
      (settings)="onSettings($event)"
      (editProfile)="onEditProfile()"
      (addOffers)="onAddOffers($event)"
      (addSport)="onAddSport($event)"
      (referFriend)="onReferFriend($event)"
      (contactUs)="onContactUs($event)"
    ></app-sidenav>
    <div class="general">
      <header>
        <img
          (click)="onBack()"
          class="back-arrow mobile"
          src="/assets/images/icons/back-arrow-black.png"
          alt=""
        />
        <img
          (click)="onBack()"
          class="back-arrow desktop"
          src="/assets/images/icons/back-arrow.png"
          alt=""
        />
        <p class="title">{{ categoryName }}</p>
      </header>
      <div class="layout">
        <div class="content">
          <div class="main-content">
            <div class="image-content" id="image-centered">
              <div class="loading" *ngIf="loading$ | async">
                <img src="/assets/images/icons/loading.svg" alt="" />
              </div>
              <div class="side-left">
                <div
                  *ngIf="profileContent"
                  class="background-wrapper"
                  [style]="{
                    'background-image':
                      'url(' + currentProfile?.backgroundUrl + ')',
                    'background-color': currentProfile?.backgroundColor
                  }"
                >
                  <div
                    class="profile"
                    #snapshotElement
                    [innerHTML]="profileContent"
                  ></div>
                  <div
                    [style.color]="currentProfile?.mediaColorList.lastUpdated"
                    class="updated-date"
                  >
                    <span>Last Updated: </span>
                    <span>{{ currentProfile?.lastUpdated }}</span>
                  </div>
                  <div class="px-10">
                    <div
                      class="media"
                      [ngStyle]="{
                        background:
                          currentProfile?.mediaColorList.backgroundColor
                      }"
                    >
                      <div
                        class="sport-name"
                        [ngStyle]="{
                          'border-bottom':
                            '2px solid ' +
                            currentProfile?.mediaColorList?.border
                        }"
                      >
                        <div
                          class="overlay"
                          [ngStyle]="{
                            backgroundColor:
                              currentProfile?.mediaColorList?.iconSportColor ||
                              'transparent',
                            '-webkit-mask-image':
                              'url(' + (currentSport?.icon || '') + ')',
                            'mask-image':
                              'url(' + (currentSport?.icon || '') + ')'
                          }"
                        ></div>

                        <span
                          [style.color]="currentProfile?.mediaColorList.title"
                          >Media</span
                        >
                      </div>
                      <div class="tabs">
                        <div
                          class="tab"
                          [style.color]="
                            tab.isActive
                              ? currentProfile?.mediaColorList.activeTabColor
                              : currentProfile?.mediaColorList.tabColor
                          "
                          [class.active]="tab.isActive"
                          [ngStyle]="{
                            background: tab.isActive
                              ? 'linear-gradient(270deg, #00000000, ' +
                                currentProfile?.mediaColorList.activeTabBG +
                                ', ' +
                                currentProfile?.mediaColorList.activeTabBG +
                                ', #00000000)'
                              : ''
                          }"
                          (click)="onTabChange(tab)"
                          *ngFor="let tab of tabs"
                        >
                          <span>{{ tab.label }}</span>
                        </div>
                      </div>
                      <div class="graphic-wrapper">
                        <div
                          class="graphic"
                          (click)="preview(item)"
                          *ngFor="
                            let item of activeTab === 0
                              ? highlights
                              : activeTab === 1
                              ? graphics
                              : images
                          "
                          [style]="{
                            'background-image':
                              'url(' + item?.previewImage + ')',
                            'border-color':
                              currentProfile?.mediaColorList.graphicBorder
                          }"
                        >
                          <div
                            class="name"
                            [ngStyle]="{
                              background:
                                currentProfile?.mediaColorList.startColor
                            }"
                            [style.color]="currentProfile?.mediaColorList.text"
                          >
                            {{ item.name }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="buttons">
                    <div
                      *ngFor="let item of buttons; let i = index"
                      class="w-100"
                    >
                      <div
                        [ngStyle]="{
                          background:
                            'linear-gradient(135deg, ' +
                            currentProfile?.listColor?.startColor +
                            ' 55%, ' +
                            currentProfile?.listColor?.endColor +
                            ' 45%, ' +
                            currentProfile?.listColor?.whitePart +
                            ' 116%)'
                        }"
                        class="button"
                      >
                        <div class="left">
                          <div class="image-wrapper">
                            <img [src]="item.byPassImage" />
                          </div>
                          <span
                            *ngIf="!item.isEdit"
                            class="title"
                            [style.color]="currentProfile?.listColor?.button"
                            >{{ item.title }}</span
                          >
                        </div>
                        <div class="right">
                          <div class="circle" (click)="toggleExpand(item)">
                            <img
                              [style.transform]="
                                item.isExpanded
                                  ? 'rotate(180deg)'
                                  : 'rotate(0deg)'
                              "
                              [src]="
                                currentProfile?.dropdownIcon ??
                                defaultDropdownIcon
                              "
                            />
                          </div>
                        </div>
                      </div>
                      <div
                        [ngStyle]="{
                          background:
                            'linear-gradient(195deg, ' +
                            currentProfile?.listColor?.openedBG +
                            ', ' +
                            '#000)'
                        }"
                        class="inserted-content"
                        *ngIf="item.isExpanded"
                        [@expandCollapse]
                        [class.expanded]="item.isExpanded"
                      >
                        <div
                          *ngIf="i === 0"
                          [style.color]="currentProfile?.listColor?.content"
                        >
                          <!-- Hi, my name is {{ user.firstName }}
                          {{ user.lastName }}, and I'm [Age] years old. I've
                          been playing {{ user.primarySport }} for [number]
                          years, and I love pushing myself to improve every day.
                          I play
                          {{
                            user.completeAddSport && user.appSport === "primary"
                              ? user.primarySportPositions?.join(" / ")
                              : user.secondarySportPositions?.join(" / ")
                          }}
                          for {{ user["division"] }}, and my favorite part about
                          the game is [favorite aspect of the sport]. I'm always
                          working on my [skills/techniques], and my goal is to
                          [athletic goal]. Off the field, I enjoy
                          [hobbies/interests], which help me stay focused and
                          balanced. I'm excited to continue learning, growing,
                          and achieving new goals in my athletic journey. -->
                          {{ user.aboutMe }}
                        </div>
                        <div *ngIf="i === 1">
                          <div class="item">
                            <div
                              class="title"
                              [ngStyle]="{
                                background:
                                  'linear-gradient(135deg, ' +
                                  currentProfile?.listColor?.headerBG1 +
                                  ' 70%, ' +
                                  currentProfile?.listColor?.headerBG2 +
                                  ' 20% 79%, ' +
                                  currentProfile?.listColor?.headerBG3 +
                                  ' 20% 87%, ' +
                                  'rgba(0, 0, 0, 0) 20% 80%)'
                              }"
                              [style.color]="currentProfile?.listColor?.label"
                            >
                              PHONE NUMBER
                            </div>
                            <div
                              class="value"
                              [style.color]="currentProfile?.listColor?.links"
                            >
                              <a
                                [style.color]="currentProfile?.listColor?.links"
                                [href]="'tel:' + user.phoneNumber"
                                >{{ user.phoneNumber }}</a
                              >
                            </div>
                          </div>
                          <div class="item">
                            <div
                              class="title"
                              [ngStyle]="{
                                background:
                                  'linear-gradient(135deg, ' +
                                  currentProfile?.listColor?.headerBG1 +
                                  ' 70%, ' +
                                  currentProfile?.listColor?.headerBG2 +
                                  ' 20% 79%, ' +
                                  currentProfile?.listColor?.headerBG3 +
                                  ' 20% 87%, ' +
                                  'rgba(0, 0, 0, 0) 20% 80%)'
                              }"
                              [style.color]="currentProfile?.listColor?.label"
                            >
                              EMAIL ADDRESS
                            </div>
                            <div
                              class="value"
                              [style.color]="currentProfile?.listColor?.links"
                            >
                              <a
                                [style.color]="currentProfile?.listColor?.links"
                                href="mailto:{{ user.email }}"
                                >{{ user.email }}</a
                              >
                            </div>
                          </div>
                          <div class="item">
                            <div
                              class="title"
                              [ngStyle]="{
                                background:
                                  'linear-gradient(135deg, ' +
                                  currentProfile?.listColor?.headerBG1 +
                                  ' 70%, ' +
                                  currentProfile?.listColor?.headerBG2 +
                                  ' 20% 79%, ' +
                                  currentProfile?.listColor?.headerBG3 +
                                  ' 20% 87%, ' +
                                  'rgba(0, 0, 0, 0) 20% 80%)'
                              }"
                              [style.color]="currentProfile?.listColor?.label"
                            >
                              X Account
                            </div>
                            <div
                              class="value"
                              (click)="onTwitter(user.twitter)"
                              [style.color]="currentProfile?.listColor?.links"
                            >
                              {{ user.twitter }}
                            </div>
                          </div>
                          <div class="item">
                            <div
                              class="title"
                              [ngStyle]="{
                                background:
                                  'linear-gradient(135deg, ' +
                                  currentProfile?.listColor?.headerBG1 +
                                  ' 70%, ' +
                                  currentProfile?.listColor?.headerBG2 +
                                  ' 20% 79%, ' +
                                  currentProfile?.listColor?.headerBG3 +
                                  ' 20% 87%, ' +
                                  'rgba(0, 0, 0, 0) 20% 80%)'
                              }"
                              [style.color]="
                                currentProfile?.listColor?.secondary
                              "
                            >
                              HOMETOWN
                            </div>
                            <div class="value">
                              {{ user.city }}, {{ user.state }}
                            </div>
                          </div>
                        </div>
                        <div *ngIf="i === 2">
                          <ng-container *ngFor="let coach of coachs">
                            <div class="item">
                              <div
                                class="title"
                                [ngStyle]="{
                                  background:
                                    'linear-gradient(135deg, ' +
                                    currentProfile.listColor?.headerBG1 +
                                    ' 70%, ' +
                                    currentProfile.listColor?.headerBG2 +
                                    ' 20% 79%, ' +
                                    currentProfile.listColor?.headerBG3 +
                                    ' 20% 87%, ' +
                                    'rgba(0, 0, 0, 0) 20% 80%)'
                                }"
                                [style.color]="currentProfile.listColor?.label"
                              >
                                COACH TITLE
                              </div>
                              <div
                                class="value"
                                [style.color]="
                                  currentProfile.listColor?.secondary
                                "
                              >
                                <!-- {{
                                  user.completeAddSport &&
                                  user.appSport === "primary"
                                    ? user.coachTitle
                                    : user["secondarySportCoachTitle"]
                                }} -->
                                {{ coach.title }}
                              </div>
                            </div>
                            <!-- New Coach First Name Item -->
                            <div class="item">
                              <div
                                class="title"
                                [ngStyle]="{
                                  background:
                                    'linear-gradient(135deg, ' +
                                    currentProfile.listColor?.headerBG1 +
                                    ' 70%, ' +
                                    currentProfile.listColor?.headerBG2 +
                                    ' 20% 79%, ' +
                                    currentProfile.listColor?.headerBG3 +
                                    ' 20% 87%, ' +
                                    'rgba(0, 0, 0, 0) 20% 80%)'
                                }"
                                [style.color]="currentProfile.listColor?.label"
                              >
                                COACH FIRST NAME
                              </div>
                              <div
                                class="value"
                                [style.color]="
                                  currentProfile.listColor?.secondary
                                "
                              >
                                {{ coach.firstName }}
                              </div>
                            </div>

                            <!-- New Coach Last Name Item -->
                            <div class="item">
                              <div
                                class="title"
                                [ngStyle]="{
                                  background:
                                    'linear-gradient(135deg, ' +
                                    currentProfile.listColor?.headerBG1 +
                                    ' 70%, ' +
                                    currentProfile.listColor?.headerBG2 +
                                    ' 20% 79%, ' +
                                    currentProfile.listColor?.headerBG3 +
                                    ' 20% 87%, ' +
                                    'rgba(0, 0, 0, 0) 20% 80%)'
                                }"
                                [style.color]="currentProfile.listColor?.label"
                              >
                                COACH LAST NAME
                              </div>
                              <div
                                class="value"
                                [style.color]="
                                  currentProfile.listColor?.secondary
                                "
                              >
                                {{ coach.lastName }}
                              </div>
                            </div>
                            <div class="item">
                              <div
                                class="title"
                                [ngStyle]="{
                                  background:
                                    'linear-gradient(135deg, ' +
                                    currentProfile.listColor?.headerBG1 +
                                    ' 70%, ' +
                                    currentProfile.listColor?.headerBG2 +
                                    ' 20% 79%, ' +
                                    currentProfile.listColor?.headerBG3 +
                                    ' 20% 87%, ' +
                                    'rgba(0, 0, 0, 0) 20% 80%)'
                                }"
                                [style.color]="currentProfile.listColor?.label"
                              >
                                EMAIL ADDRESS
                              </div>
                              <div
                                class="value"
                                [style.color]="currentProfile.listColor?.links"
                              >
                                <a
                                  [style.color]="
                                    currentProfile?.listColor?.links
                                  "
                                  href="mailto:{{
                                    user.completeAddSport &&
                                    user.appSport === 'primary'
                                      ? coach.email
                                      : user['secondarySportCoachEmail']
                                  }}"
                                >
                                  <!-- {{
                                    user.completeAddSport &&
                                    user.appSport === "primary"
                                      ? user.coachEmail
                                      : user["secondarySportCoachEmail"]
                                  }} -->
                                  {{ coach.email }}
                                </a>
                              </div>
                            </div>
                            <div class="item">
                              <div
                                class="title"
                                [ngStyle]="{
                                  background:
                                    'linear-gradient(135deg, ' +
                                    currentProfile.listColor?.headerBG1 +
                                    ' 70%, ' +
                                    currentProfile.listColor?.headerBG2 +
                                    ' 20% 79%, ' +
                                    currentProfile.listColor?.headerBG3 +
                                    ' 20% 87%, ' +
                                    'rgba(0, 0, 0, 0) 20% 80%)'
                                }"
                                [style.color]="currentProfile.listColor?.label"
                              >
                                PHONE NUMBER
                              </div>
                              <div
                                class="value"
                                [style.color]="currentProfile.listColor?.links"
                              >
                                <a
                                  [ngStyle]="{
                                    color: currentProfile?.listColor?.links
                                  }"
                                  [href]="
                                    'tel:' +
                                    (user.completeAddSport &&
                                    user.appSport === 'primary'
                                      ? coach.phone
                                      : user.secondarySportCoachPhoneNumber)
                                  "
                                >
                                  <!-- {{
                                    user.completeAddSport &&
                                    user.appSport === "primary"
                                      ? user.coachPhoneNumber
                                      : user.secondarySportCoachPhoneNumber
                                  }} -->
                                  {{ coach.phone }}
                                </a>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                        <div *ngIf="i === 3">
                          <div
                            class="item"
                            *ngFor="
                              let item of ATHLETIC_INFO[currentSport.name]
                            "
                          >
                            <div
                              class="title"
                              [ngStyle]="{
                                background:
                                  'linear-gradient(135deg, ' +
                                  currentProfile.listColor?.headerBG1 +
                                  ' 70%, ' +
                                  currentProfile.listColor?.headerBG2 +
                                  ' 20% 79%, ' +
                                  currentProfile.listColor?.headerBG3 +
                                  ' 20% 87%, ' +
                                  'rgba(0, 0, 0, 0) 20% 80%)'
                              }"
                              [style.color]="currentProfile.listColor?.label"
                            >
                              {{ item.label }}
                            </div>
                            <div
                              class="value"
                              [style.color]="
                                currentProfile.listColor?.secondary
                              "
                            >
                              {{
                                item.field === "height"
                                  ? convertToFeet(
                                      user.primarySportAthleticInfo[item.field]
                                    )
                                  : item.field === "jersey_number" &&
                                    user.primarySportAthleticInfo[item.field]
                                  ? "#" +
                                    user.primarySportAthleticInfo[item.field]
                                  : user.primarySportAthleticInfo[item.field]
                              }}
                            </div>
                          </div>
                        </div>
                        <div *ngIf="i === 4">
                          <div
                            class="item"
                            *ngFor="let item of ACADEMIC_CATEGORY"
                          >
                            <div
                              class="title"
                              [ngStyle]="{
                                background:
                                  'linear-gradient(135deg, ' +
                                  currentProfile.listColor?.headerBG1 +
                                  ' 70%, ' +
                                  currentProfile.listColor?.headerBG2 +
                                  ' 20% 79%, ' +
                                  currentProfile.listColor?.headerBG3 +
                                  ' 20% 87%, ' +
                                  'rgba(0, 0, 0, 0) 20% 80%)'
                              }"
                              [style.color]="currentProfile.listColor?.label"
                            >
                              {{ item.label }}
                            </div>
                            <div
                              class="value"
                              [style.color]="
                                currentProfile.listColor?.secondary
                              "
                            >
                              {{ user.academicInfo[item.field] }}
                            </div>
                          </div>
                        </div>
                        <div *ngIf="i === 5">
                          <div
                            *ngIf="
                              SPORTS_STATS[currentSport.name]['Special Teams']
                            "
                          >
                            <div class="title">Special Teams</div>
                            <div
                              class="item"
                              *ngFor="
                                let item of SPORTS_STATS[currentSport.name][
                                  'Special Teams'
                                ]
                              "
                            >
                              <div
                                class="title"
                                [ngStyle]="{
                                  background:
                                    'linear-gradient(135deg, ' +
                                    currentProfile.listColor?.headerBG1 +
                                    ' 70%, ' +
                                    currentProfile.listColor?.headerBG2 +
                                    ' 20% 79%, ' +
                                    currentProfile.listColor?.headerBG3 +
                                    ' 20% 87%, ' +
                                    'rgba(0, 0, 0, 0) 20% 80%)'
                                }"
                                [style.color]="currentProfile.listColor?.label"
                              >
                                {{ item.label }}
                              </div>
                              <div
                                class="value"
                                [style.color]="
                                  currentProfile.listColor?.secondary
                                "
                              >
                                {{ user?.primarySportStats[item.field] }}
                              </div>
                            </div>
                          </div>
                          <div
                            *ngIf="SPORTS_STATS[currentSport.name]['defense']"
                          >
                            <div class="title">Defense</div>
                            <div
                              class="item"
                              *ngFor="
                                let item of SPORTS_STATS[currentSport.name][
                                  'defense'
                                ]
                              "
                            >
                              <div
                                class="title"
                                [ngStyle]="{
                                  background:
                                    'linear-gradient(135deg, ' +
                                    currentProfile.listColor?.headerBG1 +
                                    ' 70%, ' +
                                    currentProfile.listColor?.headerBG2 +
                                    ' 20% 79%, ' +
                                    currentProfile.listColor?.headerBG3 +
                                    ' 20% 87%, ' +
                                    'rgba(0, 0, 0, 0) 20% 80%)'
                                }"
                                [style.color]="currentProfile.listColor?.label"
                              >
                                {{ item.label }}
                              </div>
                              <div
                                class="value"
                                [style.color]="
                                  currentProfile.listColor?.secondary
                                "
                              >
                                {{ user?.primarySportStats[item.field] }}
                              </div>
                            </div>
                          </div>
                          <div
                            *ngIf="SPORTS_STATS[currentSport.name]['offense']"
                          >
                            <div class="title">Offense</div>
                            <div
                              class="item"
                              *ngFor="
                                let item of SPORTS_STATS[currentSport.name][
                                  'offense'
                                ]
                              "
                            >
                              <div
                                class="title"
                                [ngStyle]="{
                                  background:
                                    'linear-gradient(135deg, ' +
                                    currentProfile.listColor?.headerBG1 +
                                    ' 70%, ' +
                                    currentProfile.listColor?.headerBG2 +
                                    ' 20% 79%, ' +
                                    currentProfile.listColor?.headerBG3 +
                                    ' 20% 87%, ' +
                                    'rgba(0, 0, 0, 0) 20% 80%)'
                                }"
                                [style.color]="currentProfile.listColor?.label"
                              >
                                {{ item.label }}
                              </div>
                              <div
                                class="value"
                                [style.color]="
                                  currentProfile.listColor?.secondary
                                "
                              >
                                {{ user?.primarySportStats[item.field] }}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="i === 6">
                          <div class="item schedule">
                            <div class="label">
                              <img [src]="previewSchedule ?? user.schedule" />
                            </div>
                            <div
                              class="title"
                              [ngStyle]="{
                                background:
                                  'linear-gradient(135deg, ' +
                                  currentProfile.listColor?.headerBG1 +
                                  ' 70%, ' +
                                  currentProfile.listColor?.headerBG2 +
                                  ' 20% 79%, ' +
                                  currentProfile.listColor?.headerBG3 +
                                  ' 20% 87%, ' +
                                  'rgba(0, 0, 0, 0) 20% 80%)'
                              }"
                              [style.color]="currentProfile.listColor?.label"
                            >
                              UPCOMING/PAST EVENTS
                            </div>
                            <div
                              class="long-text"
                              [style.color]="
                                currentProfile.listColor?.secondary
                              "
                            >
                              {{
                                user?.appSport === "primary"
                                  ? user.upcomingPastEvent
                                  : user.secondarySportUpcomingPastEvent
                              }}
                            </div>
                            <div
                              class="title"
                              [ngStyle]="{
                                background:
                                  'linear-gradient(135deg, ' +
                                  currentProfile.listColor?.headerBG1 +
                                  ' 70%, ' +
                                  currentProfile.listColor?.headerBG2 +
                                  ' 20% 79%, ' +
                                  currentProfile.listColor?.headerBG3 +
                                  ' 20% 87%, ' +
                                  'rgba(0, 0, 0, 0) 20% 80%)'
                              }"
                              [style.color]="currentProfile.listColor?.label"
                            >
                              UPCOMING GAMES
                            </div>
                            <div
                              class="long-text"
                              [style.color]="
                                currentProfile.listColor?.secondary
                              "
                            >
                              <a
                                *ngIf="
                                  user?.upcomingGameLink?.includes(
                                    'https://'
                                  ) ||
                                  user?.secondarySportUpcomingGameLink?.includes(
                                    'https://'
                                  )
                                "
                                [style.color]="currentProfile?.listColor?.links"
                                target="_blank"
                                href="{{
                                  user?.appSport === 'primary'
                                    ? user.upcomingGameLink
                                    : user.secondarySportUpcomingGameLink
                                }}"
                                >{{
                                  user?.appSport === "primary"
                                    ? user.upcomingGameLink
                                    : user.secondarySportUpcomingGameLink
                                }}</a
                              >
                              <p
                                *ngIf="
                                  !user?.upcomingGameLink?.includes(
                                    'https://'
                                  ) &&
                                  !user?.secondarySportUpcomingGameLink?.includes(
                                    'https://'
                                  )
                                "
                                [style.color]="
                                  currentProfile.listColor?.secondary
                                "
                              >
                                {{
                                  user?.appSport === "primary"
                                    ? user.upcomingGameLink
                                    : user.secondarySportUpcomingGameLink
                                }}
                              </p>
                            </div>
                          </div>
                        </div>
                        <div *ngIf="i === 7">
                          <div
                            class="count-offers"
                            [style]="{
                              'background-color':
                                currentProfile?.listColor?.startColor,
                              color: currentProfile?.listColor?.button
                            }"
                          >
                            {{ numberOfOffers }} Offer{{
                              numberOfOffers > 1 ? "s" : ""
                            }}
                          </div>
                          <div
                            [style.color]="currentProfile?.listColor?.content"
                            class="offers"
                            *ngFor="let item of offersArray"
                          >
                            {{ item }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="main-logo">
                    <a
                      href="https://nxt1sports.com"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <img
                        [src]="
                          currentProfile?.watermarkLogo ?? defaultWatermarkLogo
                        "
                        alt="Watermark Logo"
                      />
                    </a>
                    <div
                      [style.backgroundColor]="
                        currentProfile?.listColor?.rectTab
                      "
                      class="white-tab"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="profileContent && !availableProfiles.includes(profileId)"
          class="footer"
        >
          <div class="metas">
            <span class="tag" *ngFor="let item of currentProfile?.tags">{{
              item.label
            }}</span>
          </div>
          <div class="btn-wrapper">
            <button (click)="markFavorite()" class="heart">
              <img [src]="heartUrl" alt="" /> {{ countProfileFavorite }}
            </button>
            <button (click)="useProfile()" class="use">Use Template</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
