.camp {
  margin: 15px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  .first_row {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
  }
  .second_row {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 700;
    color: #2cbeff;
    font-family: "Rajdhani";
          font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    &.grey {
      color: #707070;
      cursor: default;
      text-decoration: none;
    }
  }
}
.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  .share {
    margin-right: 30px;
    .desktop {
      display: none;
    }
    img {
      width: 20px;
    }
  }
  // .arrow {
  //   width: 32px;
  //   height: 28px;
  //   border-radius: 20px;
  //   border: 1px solid #000;
  //   background-color: #efefef;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   box-shadow: #00000029 0 4px 6px;
  //   img {
  //     width: 8px;
  //     height: 15px;
  //     position: relative;
  //     left: 1px
  //   }
  // }
  .go-to {
    font-size: 12px;
    font-weight: 700;
    width: 95px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 15px;
    background-color: #efefef;
    box-shadow: #00000029 0px 4px 6px;
  }
}

.shareMenu {
  background-color: #000000dd;
  backdrop-filter: blur(1px);
  color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100vw;
  position: fixed;
  z-index: 9;
  bottom: -1000px;
  left: 0;
  transition: all ease-in-out 300ms;
  padding: 25px 20px 30px;
  &.show {
    bottom: 0;
  }
  &__title {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #504e61;
    text-align: center;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    width: 100%;
    margin: 20px 0 30px;
    padding-bottom: 10px;
    .button-block {
      margin-right: 12px;
      button {
        cursor: pointer;
        border-style: none;
        height: 70px;
        width: 70px;
        border-radius: 6px;
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 65%;
          max-width: 42px;
          height: auto;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      .label {
        font-size: 12px;
        text-transform: none;
        text-align: center;
        margin: 10px 0;
        font-weight: 600;
      }
    }
  }
  &__close {
    cursor: pointer;
    width: 210px;
    border: 1px solid #504e61;
    border-radius: 3px;
    margin: 0 auto;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px;
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .camp {
    margin: 5px 0 20px;
  }

  .camp {
    .first_row {
      font-size: 16px;
    }
    .second_row {
      font-size: 14px;
    }
    .right {
      min-width: 125px;
      .share {
        margin-right: 14px;
        padding: 2px;
        border: 1px solid transparent;
        .mobile {
          display: none;
        }
        .desktop {
          display: block;
        }
        cursor: pointer;
        &:hover {
          border-radius: 5px;
          border: 1px solid #707070;
          background-color: #bfbfbf;
          position: relative;
          &::after {
            content: "Share";
            position: absolute;
            font-size: 12px;
            line-height: 13px;
            font-weight: 600;
            border-radius: 5px;
            border: 1px solid #707070;
            background-color: #bfbfbf;
            width: 35px;
            display: block;
            left: -1px;
            bottom: -18px;
            text-align: center;
          }
        }
        img {
          width: 31px;
          height: 31px;
        }
      }
      .go-to {
        font-size: 14px;
        width: 125px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
  .shareMenu {
    &__buttons {
      justify-content: center;
    }
  }
}
