<form *ngIf="ACADEMIC_CATEGORY && form" [formGroup]="form" [ngClass]="{edit}">
  <div
    class="form-control {{ field.field }}"
    *ngFor="let field of ACADEMIC_CATEGORY"
  >
    <div *ngIf="field.required; then require; else not_require"></div>
    <ng-template #require
      ><label appAsterickSign>{{ field.label }}</label></ng-template
    >
    <ng-template #not_require
      ><label>{{ field.label }}</label></ng-template
    >
    <ng-container>
      <input
        [type]="field.type ? field.type : 'number'"
        [formControlName]="field.field"
        [required]="field.required"
    /></ng-container>
  </div>
</form>
