<div class="skip-dialog">
  <div class="content">
    <div class="logo"><img src="./assets/images/logo/logo_600.png" /></div>
    <header>Do you want to add offers?</header>
    <main>
      Add all your offers in NXT 1 to maximize your exposure in the prospect
      center.
    </main>
    <div class="tooltip">Add additional offers in activity later.</div>
  </div>
  <div class="buttons">
    <div class="yes-btn" (click)="dialogRef.close(true)">Yes</div>
    <div class="skip-btn" (click)="dialogRef.close(false)">Skip</div>
  </div>
</div>
