.loading {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #70707080 !important;
  backdrop-filter: blur(1px) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 30%;
  }
}

.container {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(32, 32, 32, 1) 30%,
    rgba(50, 50, 50, 1) 50%,
    rgba(32, 32, 32, 1) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  height: 100%;
  min-height: 100%;

  .desktop {
    display: none;
  }
}

.main {
  height: 100%;
}

.prospect-sheet {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 43px minmax(0, 1fr);
  background-color: #fff;
  &.own {
    grid-template-rows: 45px minmax(0, 1fr) 90px;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #000000;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #efefef;
    box-shadow: 0 1px 3px #0000004d;
    position: relative;
    z-index: 1;
    .desktop {
      display: none;
    }
    .title {
      font-family: "Avenir Next";
      font-size: 18px;
      text-transform: uppercase;
      color: #000;
      font-weight: 700;
      position: relative;
      top: 2px;
    }

    .icons {
      position: absolute;
      right: 14px;
      .edit {
        width: 21px;
        position: relative;
        top: 1px;
      }
      .share {
        width: 18px;
        margin-right: 23px;
        position: relative;
        top: 1px;
      }
    }
  }

  .trial-message {
    position: absolute;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background-color: #161616de;
    padding: 8px 10px;
    border-radius: 3px;
    border: 1px solid #ccff00;
    right: 25px;
    top: 25px;
    min-width: 195px;
    z-index: 1;
  }

  .back-btn {
    position: absolute;
  }

  .content {
    overflow: auto;
  }
}

.not-found {
  font-size: 30px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.prospect-sheet-container {
  position: fixed;
  top: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  z-index: 10;

  transition: all ease-in 200ms;
  &.show {
    top: 0;
  }
  display: grid;
  grid-template-rows: 45px minmax(0, 1fr);
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #000000;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;

    background-color: #efefef;
    box-shadow: 0 1px 3px #0000004d;
    position: relative;
    z-index: 1;
    .title {
      font-family: "Avenir Next";
      font-size: 18px;
      text-transform: uppercase;
      color: #000;
      font-weight: 700;
      position: relative;
      top: 2px;
    }

    .icons {
      position: absolute;
      right: 14px;
      .edit {
        width: 21px;
        position: relative;
        top: 1px;
      }
      .share {
        width: 18px;
        margin-right: 23px;
        position: relative;
        top: 1px;
      }
    }
  }
  .prospect-sheet-content {
    overflow: auto;
    height: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    app-main-footer {
      display: none;
    }
    app-sidenav {
      &.mobile {
        display: none;
      }
      &.desktop {
        display: block;
      }
    }
    overflow: hidden;
    grid-template-rows: minmax(0, 1fr);
    max-width: unset;

    &:before {
      content: " ";
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      background-image: url("/assets/images/home/bg-desktop.png");
      background-position: 0 0;
      background-size: 100% 100%;
    }

    .main {
      position: relative;
      z-index: 1;
      width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-rows: minmax(0, 1fr);
      grid-template-columns: 220px minmax(0, 1fr);
      background-color: #171717;
      border-right: 1px solid #ccff00;
      .sidenav {
        grid-row: 1/3;
        grid-column: 1;
      }
    }

    .prospect-sheet {
      position: relative;
      max-width: unset;
      width: 100%;
      z-index: 5;
      grid-column: 2;
      display: block;
      overflow: auto;
      background-color: #171717;
      padding: 30px 130px 75px;
      display: block;
      &.own {
        display: block;
      }

      header {
        border-bottom: none;
        background-color: transparent;
        display: block;
        text-align: left;
        position: unset;
        margin-bottom: 20px;
        .title {
          font-size: 28px;
          color: #fff;
        }
        .mobile {
          display: none;
        }
        .desktop {
          display: block;
        }
        .back-arrow {
          width: 41px;
          height: 41px;
          left: 64px;
        }
        .icons {
          &.desktop {
            display: flex;
          }
          position: unset;
          justify-content: flex-end;
          align-items: center;
          .edit {
            width: 31px;
            margin-right: 50px;
            cursor: pointer;
          }
          .download {
            width: 30px;
            opacity: 0.3;
            cursor: progress;
            &.active {
              opacity: 1;
              cursor: pointer;
            }
            &.trial {
              opacity: 0.3;
            }
          }
        }
        .download-container {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          .trial-message {
            font-size: 18px;
            min-width: 250px;
            right: 0;
            top: 30px;
          }
        }
      }

      .content {
        background-color: #fff;
        ::ng-deep .general {
          .profile-img {
            width: 112px;
            height: 112px;
          }
          .info {
            height: unset;
            .name {
              font-size: 25px;
              margin-bottom: 8px;
            }
            .position {
              font-size: 20px;
              margin-bottom: 8px;
            }
            .college {
              font-size: 20px;
            }
          }
          .team-logo {
            width: 78px;
          }
        }
        ::ng-deep .highlights {
          &-title {
            font-size: 16px;
          }
          &-content {
            .video {
              height: 203px;
              width: 354px;
            }
            .info {
              grid-row-gap: 43px;
              &-cell {
                &__label {
                  font-size: 17px;
                }
                &__value {
                  font-size: 17px;
                }
              }
            }
          }
        }
        ::ng-deep .info-block {
          &__title {
            font-size: 21px;
          }
          &__row {
            font-size: 17px;
          }
        }
      }
    }
  }
}
