<div class="desktop-container">
  <div class="container">
    <div class="prospect-sheet">
      <header>
        <img
          (click)="onBack()"
          class="back-arrow mobile"
          src="/assets/images/icons/back-arrow-black.png"
          alt=""
        />
        <img
          (click)="onBack()"
          class="back-arrow desktop"
          src="/assets/images/icons/back-arrow.png"
          alt=""
        />
        <p class="title">Prospect Sheet</p>
        <div class="help-btn" (click)="onHelp()">
          <img src="./assets/images/icons/help.png" />
        </div>
      </header>

      <div class="content">
        <app-prospect-sheet-info
          [user]="userData"
          *ngIf="userData"
        ></app-prospect-sheet-info>
      </div>

      <div class="bottom">
        <app-progress-bar
          class="progress-bar"
          [progress]="100"
        ></app-progress-bar>
        <button type="button" class="mobile" (click)="onTemplates()">View Templates</button>
        <button type="button" class="desktop" (click)="onTemplates()">Continue</button>
      </div>
    </div>
  </div>
</div>
