<div class="questionnaire">
  <div class="left">
    <div class="first_row">{{ sport }} Questionnaire</div>
    <div *ngIf="questionnaire" class="second_row" (click)="openLink(questionnaire)">Recruiting Questionnaire</div>
    <div *ngIf="!questionnaire" class="second_row grey">No Info Available</div>
  </div>

  <div class="right" *ngIf="questionnaire">
    <div class="share" (click)="onShare($event, questionnaire)">
      <img class="mobile" src="/assets/images/icons/share.png" />
      <img class="desktop" src="/assets/images/icons/web_share.png" />
    </div>
    <div class="go-to" (click)="openLink(questionnaire)">Go to link</div>
  </div>
</div>


<div class="shareMenu" [ngClass]="{ show: showShare }" (clickOutside)="showShare = false">
  <div class="shareMenu__title">Share Your Link</div>
  <div class="shareMenu__buttons">
    <div class="button-block">
      <button (click)="copy(questionnaire); showShare = false">
        <img src="/assets/images/icons/copy_2.png" />
      </button>
      <div class="label">Copy</div>
    </div>
    <!-- <div class="button-block">
      <button
        shareButton="sms"
        [url]="shareUrl"
        [description]="shareDescription"
      >
        <img src="/assets/images/icons/messages.png" />
      </button>
      <div class="label">Messages</div>
    </div> -->
    <div class="button-block">
      <button
        shareButton="email"
        [url]="questionnaire"
      >
        <img src="/assets/images/icons/mail.png" />
      </button>
      <div class="label">Email</div>
    </div>

    <div class="button-block">
      <button
        shareButton="twitter"
        [url]="questionnaire"
      >
        <img src="/assets/images/icons/x-icon.png" />
      </button>
      <div class="label">Twitter</div>
    </div>

    <div class="button-block">
      <button
        shareButton="facebook"
        [url]="questionnaire"
      >
        <img src="/assets/images/icons/facebook_2.png" />
      </button>
      <div class="label">Facebook</div>
    </div>

    <div class="button-block">
      <button
        shareButton="whatsapp"
        [url]="questionnaire"
      >
        <img src="/assets/images/icons/whatsapp.png" />
      </button>
      <div class="label">WhatsApp</div>
    </div>

    <div class="button-block">
      <button
        shareButton="telegram"
        [url]="questionnaire"
      >
        <img src="/assets/images/icons/telegram.png" />
      </button>
      <div class="label">Telegram</div>
    </div>
  </div>
  <div class="shareMenu__close" (click)="showShare = false">Close</div>
</div>
