<footer>
  <div class="home">
    <a routerLinkActive="active" routerLink="/home">
      <img class="unfilled" src="./assets/images/nav-bar/unfilled/home.png" />
      <img class="filled" src="./assets/images/nav-bar/filled/home.png" />
      <div class="label">home</div>
    </a>
  </div>
  <div class="profile">
    <a routerLinkActive="active" routerLink="/edit-profile">
      <img class="unfilled" src="./assets/images/icons/profile.png" />
      <img class="filled" src="./assets/images/icons/profile.png" />
      <div class="label">edit profile</div>
    </a>
  </div>
  <div class="activity">
    <a routerLinkActive="active" routerLink="/activity">
      <img class="unfilled" src="./assets/images/nav-bar/unfilled/activity-icon.png" />
      <img class="filled" src="./assets/images/nav-bar/filled/activity-icon.png" />
      <div class="label">activity</div>
    </a>
  </div>
</footer>
