<div class="container">
  <div class="main">
    <app-sidenav
      class="sidenav desktop"
      [activePage]="'profile'"
      (home)="onHome($event)"
      (profile)="onProfile($event)"
      (settings)="onSettings($event)"
      (editProfile)="onEditProfile()"
      (addOffers)="onAddOffers($event)"
      (addSport)="onAddSport($event)"
      (referFriend)="onReferFriend($event)"
      (contactUs)="onContactUs($event)"
    ></app-sidenav>

    <div class="template">
      <header class="{{ type }}">
        <img
          (click)="onBack()"
          class="back-arrow"
          src="/assets/images/icons/back-arrow.png"
          alt=""
        />

        <p class="title">{{ currentTemplate.name }}</p>
      </header>
      <!-- <div class="warning-container">
        <p class="warning-text">
          * Do not delete text wrapped with parentheses (Ex: "(Coach Name)")
        </p>
      </div> -->

      <div
        class="content"
        [ngClass]="{ social: type === TEMPLATES.SOCIAL }"
        *ngIf="userData"
      >
        <app-email-template
          *ngIf="type !== TEMPLATES.SOCIAL"
          [type]="type"
          [user]="userData"
          [defaultTemplate]="this.currentTemplate.content"
          [template]="template"
          [field]="this.currentTemplate.name"
          (save)="onSave($event)"
        ></app-email-template>

        <app-social-template
          *ngIf="type == TEMPLATES.SOCIAL"
          [template]="template"
          [user]="userData"
        >
        </app-social-template>
      </div>
    </div>
  </div>
</div>

<div
  class="saved-container"
  *ngIf="saved$ | async"
  (click)="saved$.next(false)"
>
  <div class="saved">
    Saved <img src="/assets/images/icons/circle_arrow.png" alt="" />
  </div>
</div>
