<div class="container">
  <div class="main">
    <app-sidenav
      class="sidenav desktop"
      [activePage]="'profile'"
      (home)="onHome($event)"
      (profile)="onProfile($event)"
      (settings)="onSettings($event)"
      (editProfile)="onEditProfile()"
      (addOffers)="onAddOffers($event)"
      (addSport)="onAddSport($event)"
      (referFriend)="onReferFriend($event)"
      (contactUs)="onContactUs($event)"
    ></app-sidenav>

    <div class="coach-information">
      <header>
        <img
          (click)="onBack()"
          class="back-arrow mobile"
          src="/assets/images/icons/back-arrow-black.png"
          alt=""
        />
        <img
          (click)="onBack()"
          class="back-arrow desktop"
          src="/assets/images/icons/back-arrow.png"
          alt=""
        />
        <p class="title">Team Information</p>
        <p class="sub-title">Configure your team profile</p>
      </header>

      <div class="content">
        <div class="team-logo">
          <input
            style="display: none"
            type="file"
            id="file"
            #avatar
            (change)="onFileSelected($event)"
            name="image"
            autocomplete="off"
            accept="image/*"
          />

          <div
            class="team-logo__image"
            (click)="avatar.click()"
            [ngClass]="{ custom: this.imagePreview }"
          >
            <img
              *ngIf="!this.imagePreview"
              src="./assets/images/logo/lighting_bolt_new.png"
            />
            <img
              *ngIf="this.imagePreview"
              [src]="imagePreview"
              class="custom"
            />
          </div>
          <div class="team-logo__text" (click)="avatar.click()">
            Add Team Logo
          </div>
        </div>

        <ng-container
          *ngIf="
            !(userData?.completeAddSport && userData?.appSport === 'secondary')
          "
        >
          <form [formGroup]="coachForm">
            <div class="field">
              <div class="team-color">
                <div class="team">
                  <label>Team Color</label>
                  <input [formControlName]="'teamColor1'" type="color" />
                </div>
                <div class="team">
                  <label>Team Color 2</label>
                  <input [formControlName]="'teamColor2'" type="color" />
                </div>
              </div>
            </div>
            <div class="field">
              <label>Upload Schedule </label>
              <label class="label-upload">
                <img
                  class="preview"
                  *ngIf="previewSchedule || userData.schedule"
                  [src]="previewSchedule ?? userData.schedule"
                />
                <input
                  class="upload"
                  placeholder="Upcoming/Past Events"
                  type="file"
                  (change)="onScheduleSelected($event)"
                />
                <img
                  *ngIf="!previewSchedule && !userData.schedule"
                  src="assets/images/icons/plus-white.svg"
                  alt="add icon"
                />
              </label>
            </div>
            <div class="field">
              <label>Upcoming/Past Events</label>
              <textarea [formControlName]="'upcomingPastEvent'"></textarea>
            </div>
            <div class="field">
              <label>Upcoming Game Link</label>
              <textarea [formControlName]="'upcomingGameLink'"></textarea>
            </div>
            <div
              *ngFor="let coachNumber of getCoachNumbers()"
              class="form-group"
            >
              <div class="form-control">
                <label
                  >Coach {{ coachNumber > 1 ? coachNumber : "" }} Title</label
                >
                <input
                  placeholder="Head Coach"
                  type="text"
                  [formControlName]="
                    coachNumber > 1
                      ? 'coach' + coachNumber + 'Title'
                      : 'coachTitle'
                  "
                />
              </div>
              <div class="form-control">
                <label
                  >Coach {{ coachNumber > 1 ? coachNumber : "" }} First
                  Name</label
                >
                <input
                  type="text"
                  [formControlName]="
                    coachNumber > 1
                      ? 'coach' + coachNumber + 'FirstName'
                      : 'coachFirstName'
                  "
                />
              </div>
              <div class="form-control">
                <label
                  >Coach {{ coachNumber > 1 ? coachNumber : "" }} Last
                  Name</label
                >
                <input
                  type="text"
                  [formControlName]="
                    coachNumber > 1
                      ? 'coach' + coachNumber + 'LastName'
                      : 'coachLastName'
                  "
                />
              </div>
              <div class="form-control">
                <label
                  >Coach {{ coachNumber > 1 ? coachNumber : "" }} Phone
                  Number</label
                >
                <input
                  type="phone"
                  [formControlName]="
                    coachNumber > 1
                      ? 'coach' + coachNumber + 'PhoneNumber'
                      : 'coachPhoneNumber'
                  "
                />
              </div>
              <div class="form-control">
                <label
                  >Coach {{ coachNumber > 1 ? coachNumber : "" }} Email</label
                >
                <input
                  type="email"
                  [formControlName]="
                    coachNumber > 1
                      ? 'coach' + coachNumber + 'Email'
                      : 'coachEmail'
                  "
                />
              </div>
            </div>
            <button type="button" class="add-coach" (click)="addNewCoach()">
              <img src="assets/images/icons/plus-grey.svg" alt="add icon" />
            </button>
          </form>
        </ng-container>
        <ng-container
          *ngIf="
            userData?.completeAddSport && userData?.appSport === 'secondary'
          "
        >
          <form [formGroup]="secondarySportCoachForm">
            <div class="field">
              <div class="team-color">
                <div class="team">
                  <label>Team Color</label>
                  <input
                    [formControlName]="'secondarySportTeamColor1'"
                    type="color"
                  />
                </div>
                <div class="team">
                  <label>Team Color 2</label>
                  <input
                    [formControlName]="'secondarySportTeamColor2'"
                    type="color"
                  />
                </div>
              </div>
            </div>
            <div class="field">
              <label>Upload Schedule </label>
              <label class="label-upload">
                <img
                  class="preview"
                  *ngIf="previewSchedule || userData.secondarySportSchedule"
                  [src]="previewSchedule ?? userData.secondarySportSchedule"
                />
                <input
                  class="upload"
                  placeholder="Upcoming/Past Events"
                  type="file"
                  (change)="onScheduleSelected($event)"
                />
                <img
                  *ngIf="!previewSchedule && !userData.schedule"
                  src="assets/images/icons/plus-white.svg"
                  alt="add icon"
                />
              </label>
            </div>
            <div class="field">
              <label>Upcoming/Past Events</label>
              <textarea
                [formControlName]="'secondarySportUpcomingPastEvent'"
              ></textarea>
            </div>
            <div class="field">
              <label>Upcoming Game Link</label>
              <textarea
                [formControlName]="'secondarySportUpcomingGameLink'"
              ></textarea>
            </div>
            <div
              *ngFor="let secondarySportCoachPhoneNumber of getCoachNumbers()"
              class="form-group"
            >
              <div class="form-control">
                <label
                  >Coach
                  {{
                    secondarySportCoachPhoneNumber > 1
                      ? secondarySportCoachPhoneNumber
                      : ""
                  }}
                  Title</label
                >
                <input
                  type="text"
                  [formControlName]="
                    secondarySportCoachPhoneNumber > 1
                      ? 'secondarySportCoach' +
                        secondarySportCoachPhoneNumber +
                        'Title'
                      : 'secondarySportCoachTitle'
                  "
                />
              </div>
              <div class="form-control">
                <label
                  >Coach
                  {{
                    secondarySportCoachPhoneNumber > 1
                      ? secondarySportCoachPhoneNumber
                      : ""
                  }}
                  First Name</label
                >
                <input
                  type="text"
                  [formControlName]="
                    secondarySportCoachPhoneNumber > 1
                      ? 'secondarySportCoach' +
                        secondarySportCoachPhoneNumber +
                        'FirstName'
                      : 'secondarySportCoachFirstName'
                  "
                />
              </div>
              <div class="form-control">
                <label
                  >Coach
                  {{
                    secondarySportCoachPhoneNumber > 1
                      ? secondarySportCoachPhoneNumber
                      : ""
                  }}
                  Last Name</label
                >
                <input
                  type="text"
                  [formControlName]="
                    secondarySportCoachPhoneNumber > 1
                      ? 'secondarySportCoach' +
                        secondarySportCoachPhoneNumber +
                        'LastName'
                      : 'secondarySportCoachLastName'
                  "
                />
              </div>
              <div class="form-control">
                <label
                  >Coach
                  {{
                    secondarySportCoachPhoneNumber > 1
                      ? secondarySportCoachPhoneNumber
                      : ""
                  }}
                  Phone Number</label
                >
                <input
                  type="phone"
                  [formControlName]="
                    secondarySportCoachPhoneNumber > 1
                      ? 'secondarySportCoach' +
                        secondarySportCoachPhoneNumber +
                        'PhoneNumber'
                      : 'secondarySportCoachPhoneNumber'
                  "
                />
              </div>
              <div class="form-control">
                <label
                  >Coach
                  {{
                    secondarySportCoachPhoneNumber > 1
                      ? secondarySportCoachPhoneNumber
                      : ""
                  }}
                  Email</label
                >
                <input
                  type="email"
                  [formControlName]="
                    secondarySportCoachPhoneNumber > 1
                      ? 'secondarySportCoach' +
                        secondarySportCoachPhoneNumber +
                        'Email'
                      : 'secondarySportCoachEmail'
                  "
                />
              </div>
            </div>
            <button type="button" class="add-coach" (click)="addNewCoach()">
              <img src="assets/images/icons/plus-grey.svg" alt="add icon" />
            </button>
          </form>
        </ng-container>
        <div class="bottom desktop">
          <div class="save" (click)="onSave()">Save</div>
          <div class="prospect-sheet" (click)="goToProfile()">
            View Prospect Profile
          </div>
        </div>
      </div>

      <div class="bottom mobile">
        <div class="save" (click)="onSave()">Save</div>
        <div class="prospect-sheet" (click)="goToProfile()">
          View Prospect Profile
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="saved-container"
  *ngIf="saved$ | async"
  (click)="saved$.next(false)"
>
  <div class="saved">
    Saved <img src="/assets/images/icons/circle_arrow.png" alt="" />
  </div>
</div>

<div
  class="prospect-sheet-container"
  [ngClass]="{ show: showProspectSheet }"
  (click)="onCloseProspectSheet($event)"
>
  <header>
    <img
      (click)="showProspectSheet = false"
      class="back-arrow"
      src="/assets/images/icons/back-arrow-black.png"
      alt=""
    />

    <p class="title">PROSPECT SHEET</p>

    <div class="icons">
      <img
        class="edit"
        (click)="onEditProfile()"
        src="/assets/images/colleges-library/pen.png"
        alt=""
      />
    </div>
  </header>

  <div class="prospect-sheet-content">
    <app-prospect-sheet-info
      *ngIf="userData"
      [user]="userData"
    ></app-prospect-sheet-info>
  </div>
</div>
