<div class="info-dialog">
  <div class="content">
    <div class="logo">
      <img src="./assets/images/logo/lighting_bolt_small.png" />
    </div>
    <div class="title">Great Job! Offer Added.</div>
    <div class="sub-title">Inspire other athletes!</div>
    <div class="message">
      Share this great accomplishment with other athletes on NXT 1?
    </div>
  </div>
  <div class="buttons">
    <div class="yes-btn" (click)="dialogRef.close(true)">YES</div>
    <div class="no-btn" (click)="dialogRef.close(false)">NO</div>
  </div>
</div>
