<div class="important-note">
  <p class="important-note-title">IMPORTANT NOTICE</p>
  <p class="important-note-description mb-5">
    At NXT 1, we’re dedicated to providing you with the best tools to boost your recruiting journey. We want to inform
    you about an upcoming upgrade. Google is currently in the process of upgrading the NXT 1 app to the latest version,
    ensuring a seamless experience. During this upgrade, the Google OAuth service of sending emails in the app will be
    temporarily unavailable for Google Users. We will notify you when you can send emails in the app again.
  </p>
  <p class="important-note-description mb-5">
    <span class="important-note-highlight">We recommend using an alternative method to contact college coaches</span> by copying and pasting emails and templates to
    your Gmail app or any email provider of your choice. Tap the ‘plus’ button at the top of the next screen to copy
    your personalized templates into your provider.
  </p>
  <p class="important-note-description">
    This allows you to keep connecting with coaches and sharing your journey. We appreciate your patience and
    understanding during this transition, and we’re committed to helping you achieve your
    athletic goals at NXT 1.
  </p>

  <button mat-dialog-close class="important-note-button">
    I Understand
  </button>
</div>
