<div class="notifications">
  <!-- <div class="skip-btn" (click)="onSkip()">Skip</div> -->
  <div class="top">
    <div class="title">NOW YOUR READY</div>
    <div class="description">
      <span>For best experience,</span> Make sure notifications are on in phone
      settings to always stay informed with college coaches, college updates,
      new media templates, new templates, and more.
    </div>
    <div class="img">
      <ng-lottie [options]="options"></ng-lottie>
    </div>
  </div>
  <div class="bottom">
    <button (click)="onTurnOn()">Go Get It</button>
  </div>
</div>
